// Bootstrap SCSS Variables
$primary: #0d6efd;
$secondary: #6c757d;
$success: #198754;
$danger: #dc3545;
$warning: #ff8f07;
$info: #0dcaf0;
$light: #f8f9fa;
$dark: #212529;
$body-bg: #fff;
$body-color: #212529;